.description {
	color: var(--font-secondary);
	flex-basis: 100%;
}

.headerActions {
	display: flex;
	align-items: center;

	.expand {
		display: flex;
		align-items: center;
	}

	.divider {
		width: 1px;
		height: var(--icon-width-tiny);
		background: var(--border-secondary);
		margin: var(--2xs) var(--xs);
	}
}

.tabs {
	display: flex;
	align-items: center;
	gap: var(--xs);
	margin: 0 var(--standard);
	border-bottom: 1px solid var(--border);
	background: var(--background);
	padding: var(--lg) var(--standard) 0 var(--standard);

	.tab {
		padding: var(--2xs) var(--sm);
		border-bottom: 2px solid transparent;
		color: var(--font-main);
		transition:
			color 0.2s ease,
			border-color 0.2s ease;
		cursor: pointer;

		&:hover {
			color: var(--font-action);
		}

		&.selected {
			color: var(--font-action);
			border-bottom: 2px solid var(--font-action);
		}
	}
}

.body {
	display: flex;
	flex-direction: column;
}

.bodyGrid {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 3fr 1fr;
}

.section {
	display: flex;
	flex-direction: column;
	background: var(--background);
	flex: 1;

	.sectionHeader {
		padding: var(--lg) var(--standard) var(--3xs) var(--standard);
	}

	.sectionContent {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		margin: var(--xs) var(--standard);
		background: var(--Marker-Magenta-12, rgba(255, 0, 183, 0.12));
		color: var(--Marker-Magenta-60, rgba(255, 0, 183, 0.6));
	}
}

.storyWrapper {
	padding: 2rem;
}

.responsiveButtons {
	display: flex;
	flex-wrap: wrap;
	gap: var(--xs);
	margin-top: var(--sm);
}

.contentSection {
	padding: 1rem;
}
