.storyWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: var(--standard);
}

.filterDemo {
	padding: var(--standard);
	background-color: var(--background-secondary);
}

.filterDemoTitle {
	margin-bottom: var(--sm);
}

.filterDemoText {
	margin-bottom: var(--xs);
	color: var(--font-secondary);
}

.filterDemoList {
	margin-left: var(--standard);
	color: var(--font-secondary);
}
