.sizesContainer {
	display: flex;
	gap: var(--standard);
	align-items: center;
}

.sizeItem {
	display: flex;
	flex-direction: column;
}

.sizeLabel {
	margin-bottom: var(--2xs);
	font-size: var(--body-font-size-xs);
	color: var(--color-text-secondary);
}

.customOption {
	display: flex;
	align-items: center;
	gap: var(--2xs);
}
