@use '@design-system/ui/src/styles/typography';

@mixin dropdown-content {
	border-radius: 4px;
	border: 1px solid var(--color-border-secondary);
	background: var(--color-background);
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
	z-index: 9999;

	min-width: 200px;
	width: var(--radix-select-trigger-width);
	max-height: var(--radix-select-content-available-height);
}

@mixin dropdown-viewport {
	display: flex;
	flex-direction: column;
}

@mixin dropdown-item {
	@include typography.p-special;
	@include typography.ellipsis;
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--color-font-main);
	padding: var(--spacing-xs);
	border-radius: 2px;
	border-left: 2px solid transparent;
	cursor: pointer;
	outline: none;

	&[data-highlighted] {
		background: var(--color-background-selected-weak);

		.indicator,
		.itemIcon {
			color: var(--color-background-selected);
		}
	}

	&[data-disabled] {
		color: var(--color-background-deselected);
		background: var(--color-background-secondary-selected-weak);
		cursor: not-allowed;

		.indicator,
		.itemIcon {
			pointer-events: none;
		}
	}
}

@mixin dropdown-indicator {
	display: flex;
	justify-content: end;
	min-width: var(--icon-width-medium);
}
