@use '../../../../styles/typography';

.fileItem {
	display: flex;
	flex-direction: column;

	.fileItemContent {
		display: flex;
		align-items: center;
		gap: var(--2xs);
		width: 100%;
		background-color: var(--background);
		padding: var(--4xs) var(--xs);
		border: 1px solid transparent;
		border-radius: var(--3xs);
		transition: all 0.2s ease;

		&:hover {
			border-color: var(--border-secondary);
		}

		&[data-disabled] {
			opacity: 0.5;
		}

		&.fileItemError {
			background-color: var(--background-error-secondary-hover);

			.progressRange {
				background: var(--background-error);
			}
		}

		&.fileItemCompleted {
			.progressRange {
				background: var(--background-success-strong);
			}
		}

		&.fileItemUploading {
			.progressRange {
				background: var(--background-primary);
			}
		}

		&.fileItemInterrupted {
			.progressRange {
				background: var(--background-warning-strong);
			}
		}
	}
}

.filePreview {
	color: var(--background-deselected);
}

.fileInfo {
	display: flex;
	align-items: center;
	gap: var(--2xs);
	flex: 1;
	min-width: 0;
}

.fileName {
	@include typography.body-sm-reg;
	@include typography.ellipsis;
	color: var(--font-main);
	flex: 1 0 75%;
}

.progressContainer {
	display: flex;
	flex-direction: column;
	gap: var(--xs);
	width: 100%;
}

.progressBar {
	width: 100%;
	height: 2px;
}

.progressTrack {
	width: 100%;
	height: 100%;
	background-color: var(--background-tertiary);
	border-radius: var(--3xs);
	overflow: hidden;
}

.progressRange {
	height: 100%;
	background-color: var(--background-primary);
	border-radius: 2px;
	transition: width 0.3s ease;
}

@mixin infoText {
	@include typography.body-xs-reg;
	display: flex;
	gap: var(--3xs);
	padding: var(--3xs) var(--sm);
}

.progressText {
	@include infoText;
	color: var(--font-secondary);
}

.completedText {
	@include infoText;
	color: var(--background-success-strong);
}

.interruptedText {
	@include infoText;
	color: var(--font-warning);
}

.errorMessage {
	@include infoText;
	color: var(--background-error);
}
