$border-width: 1px;

.tabList {
	display: flex;
	position: relative;
}

.tabList-horizontal {
	flex-direction: row;
	align-items: center;
	border-bottom: $border-width solid var(--color-border-main);
	gap: var(--spacing-xs);
}

.tabList-vertical {
	flex-direction: column;
	align-items: stretch;
	border-right: $border-width solid var(--color-border-main);
}

.tabList-vertical-medium {
	gap: var(--spacing-xs);
}

.tabList-vertical-small {
	gap: var(--spacing-3xs);
}
