@use '../../styles/shared/dropdown';

.root {
	&:where(:hover, :focus-within) {
		.clearTrigger {
			visibility: visible;
		}
	}
}

.clearTrigger {
	visibility: hidden;
}

.content {
	@include dropdown.dropdown-content;
	width: auto;
}
