@use '../../../../styles/typography';

.fileUploadRoot {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.dropzone {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--sm) var(--standard);
	border: 1px dashed var(--border);
	border-radius: var(--3xs);
	background-color: var(--background);
	transition: all 0.2s ease;
	cursor: pointer;

	&.dropzoneCompact {
		flex-direction: row;
		justify-content: space-between;

		.dropzoneIcon {
			display: none;
		}

		.dropzoneText {
			padding: 0;
		}
	}

	.dropzoneIcon {
		color: var(--icon-action-secondary);
	}

	.dropzoneText {
		color: var(--background-deselected);
		text-align: center;
		padding: var(--3xs) 0 var(--sm) 0;
	}

	[data-part='trigger'] {
		align-self: center;
	}

	&:hover:not([data-disabled]) {
		border-color: var(--background-primary);
		background-color: var(--background-secondary-hover);
	}

	&[data-dragging] {
		border-color: var(--background-primary);
		background-color: var(--background-secondary-hover);
		border-style: solid;
	}

	&[data-disabled] {
		cursor: not-allowed;

		.dropzoneIcon,
		.dropzoneText {
			color: var(--background-disable);
		}
	}
}

.fileList {
	display: flex;
	flex-direction: column;
	gap: var(--xs);
	margin-top: var(--xs);
	padding: var(--xs);
	border-radius: var(--3xs);
	background: var(--background-secondary);
}

.infoText {
	color: var(--font-secondary);
	margin-top: var(--2xs);
}

.errorText {
	color: var(--background-error);
	display: flex;
	align-items: center;
	gap: var(--3xs);
	margin-top: var(--2xs);
}
