.container {
	display: flex;
	align-items: center;
	gap: var(--standard);
	padding: var(--xs) var(--standard);
	background: var(--background-secondary-hover);
	border: 1px solid var(--outline-weak);
	border-radius: var(--3xs);
}

.chipsWrapper {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--xs);
	max-height: var(--3xl);
	overflow: hidden;

	.hidden {
		visibility: hidden;
		position: absolute;
		pointer-events: none;
	}
}

.label {
	color: var(--font-secondary);
	white-space: nowrap;
}

.expandChip {
	cursor: pointer;
}

.dialog {
	position: fixed;
	background: var(--background);
	border: 1px solid var(--border-secondary);
	border-radius: var(--3xs);
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
	padding: var(--xs);
	max-height: 80vh;
	overflow-y: auto;
	z-index: 1001;
	min-width: 300px;
	max-width: 500px;
}

.dialogContent {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.itemCheckbox {
	display: flex;
	align-items: center;
}
