// all colors are defined in https://www.figma.com/design/5BjP3KnzlfAxTbdx1srK48/%F0%9F%A6%BE-DAP-Design-System?node-id=4804-92173&p=f&m=dev
$colors: (
	// Primary
	deep-blue: #001a47,
	white: #ffffff,
	black: #000000,
	// Gradient (Specials)
	gradient-violet-background: linear-gradient(90deg, #001b48 -0.12%, #312e81 99.86%),
	gradient-violet-transparent: linear-gradient(180deg, rgba(30, 89, 215, 0.4) 0%, rgba(0, 27, 72, 0.16) 100%),
	gradient-blue-light: linear-gradient(116deg, #e9eefc 22.81%, #d6e2ff 99.14%),
	// Neutral
	neutral-1: #2c3a4b,
	neutral-2: #4c5f76,
	neutral-3: #6c7b8e,
	neutral-4: #8b98a6,
	neutral-5: #a0aab7,
	neutral-6: #b3bfd1,
	neutral-7: #c2cedf,
	neutral-8: #dee6f1,
	neutral-9: #eaecef,
	neutral-10: #f3f5fa,
	neutral-bg: #dae2f4,
	// Action
	action-cta1: #0064fa,
	action-cta2: #579aff,
	action-cta3: #6b7b8e,
	action-active-light: #c7d8ff,
	action-hover-light: #e0eaff,
	action-disabled: #b0b4bf,
	// System Status
	system-status-ok: #067a00,
	system-status-info: #005dcf,
	system-status-error: #d70a00,
	system-status-alert: #d04d07,
	system-status-in-progress: #1513da,
	system-status-pending: #8836d6,
	// Utility
	utility-ok: #d6f5cf,
	utility-info: #c4dcff,
	utility-error: #ffd8d6,
	utility-alert: #ffeac0,
	utility-in-progress: #d9d9ff,
	utility-pending: #ede2ff,
	utility-disabled: #e3e3e3,
	// Map / Scheme
	map-and-scheme-line-layer-0: #5452f6,
	map-and-scheme-line-layer-01: #cc4c5f,
	map-and-scheme-line-layer-02: #00894d,
	map-and-scheme-line-layer-1-optical: #3b8edb,
	map-and-scheme-line-layer-2-ethernet: #00b8d9,
	map-and-scheme-line-layer-3-routing: #9a55e0,
	map-and-scheme-service-overlay: #c30ede,
	map-and-scheme-pops-core-zones: #a92a00,
	map-and-scheme-line-optional-1: #da7b2d
);

@mixin applyRootColors($colors) {
	:root {
		@each $name, $color in $colors {
			#{'--' + $name}: #{$color};
		}
	}
}

@include applyRootColors($colors);
