@use 'variables' as var;

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	color: inherit;
}

body {
	font-family: var.$font-family-primary;
}
