// typography is defined in: https://www.figma.com/design/XJwVCvDPhD0dMTP4vr3xY3/%F0%9F%A6%95-%F0%9F%AA%86Style-%26-Design-System?node-id=4804-91960&node-type=frame&t=6LW93tAe2no6Rhgx-0
@use 'variables' as var;

@mixin base-font {
	font-family: var.$font-family-base;
	font-weight: var.$font-weight-regular;
	letter-spacing: 0;
	text-align: left;
}

@mixin line-clamp($lines: 2) {
	overflow: hidden;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
}

@mixin ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@mixin h1 {
	@include base-font;
	font-size: var.$font-size-h1;
	line-height: var.$line-height-h1;
}

@mixin h2 {
	@include base-font;
	font-size: var.$font-size-h2;
	line-height: var.$line-height-h2;
}

@mixin h3 {
	@include base-font;
	font-size: var.$font-size-h3;
	line-height: var.$line-height-h3;
}

@mixin h4 {
	@include base-font;
	font-size: var.$font-size-h4;
	line-height: var.$line-height-h4;
}

@mixin h5 {
	@include base-font;
	font-size: var.$font-size-h5;
	line-height: var.$line-height-h5;
}

@mixin h6 {
	@include base-font;
	font-size: var.$font-size-h6;
	line-height: var.$line-height-h6;
}

@mixin h7 {
	@include base-font;
	font-size: var.$font-size-h7;
	line-height: var.$line-height-h7;
}

@mixin p-xl {
	@include base-font;
	font-size: var.$font-size-p-xl;
	line-height: var.$line-height-p-xl;
}

@mixin p-lg {
	@include base-font;
	font-size: var.$font-size-p-lg;
	line-height: var.$line-height-p-lg;
}

@mixin p-base {
	@include base-font;
	font-size: var.$font-size-p-base;
	line-height: var.$line-height-p-base;
}

@mixin p-special {
	@include base-font;
	font-size: var.$font-size-p-special;
	line-height: var.$line-height-p-special;
}

@mixin p-s {
	@include base-font;
	font-size: var.$font-size-p-s;
	line-height: var.$line-height-p-s;
}

@mixin action {
	@include base-font;
	font-size: var.$font-size-action;
	line-height: var.$line-height-action;
}

@mixin action-lg {
	@include base-font;
	font-size: var.$font-size-action-lg;
	line-height: var.$line-height-action-lg;
}

@mixin action-med {
	@include base-font;
	font-size: var.$font-size-action-med;
	line-height: var.$line-height-action-med;
}

@mixin action-small {
	@include base-font;
	font-size: var.$font-size-action-small;
	line-height: var.$line-height-action-small;
}

@mixin bold {
	font-weight: var.$font-weight-bold;
}

@mixin medium {
	font-weight: var.$font-weight-medium;
}

@mixin regular {
	font-weight: var.$font-weight-regular;
}

@mixin light {
	font-weight: var.$font-weight-light;
}

// New for DS v1.2

// TODO below needs to be removed
@mixin font-base {
	font-family: var(--font-family-base);
	font-style: normal;
	letter-spacing: 0;
}

@mixin link-base {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: none;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-position: from-font;
}

@mixin code-base {
	font-family: var(--font-family-code);
	font-style: normal;
	letter-spacing: 0;
	text-align: left;
}

@mixin heading($font-weight: var(--font-size-3xl), $line-height: var(--line-height-3xl)) {
	@include font-base;
	font-size: $font-weight;
	font-weight: var(--font-weight-semi-bold);
	line-height: $line-height;
	letter-spacing: var(--letter-spacing--1percent);
}

@mixin heading1 {
	@include heading;
}

@mixin heading2 {
	@include heading(var(--font-size-2xl), var(--line-height-2xl));
}

@mixin heading3 {
	@include heading(var(--font-size-xl), var(--line-height-xl));
}

@mixin heading4 {
	@include heading(var(--font-size-large), var(--line-height-large));
}

@mixin body-md($font-weight: var(--font-weight-regular)) {
	@include font-base;
	font-size: var(--font-size-md);
	font-weight: $font-weight;
	line-height: var(--line-height-md);
	letter-spacing: var(--letter-spacing--1percent);
}

@mixin body-md-reg {
	@include body-md;
}

@mixin body-md-md {
	@include body-md(var(--font-weight-medium));
}

@mixin body-md-semi-bold {
	@include body-md(var(--font-weight-semi-bold));
}

@mixin body-md-bold {
	@include body-md(var(--font-weight-bold));
}

@mixin body-md-link {
	@include body-md;
	@include link-base;
}

@mixin body-sm($font-weight: var(--font-weight-regular)) {
	@include font-base;
	font-size: var(--font-size-sm);
	font-weight: $font-weight;
	line-height: var(--line-height-sm);
	letter-spacing: var(--letter-spacing--1percent);
}

@mixin body-sm-reg {
	@include body-sm;
}

@mixin body-sm-md {
	@include body-sm(var(--font-weight-medium));
}

@mixin body-sm-semi-bold {
	@include body-sm(var(--font-weight-semi-bold));
}

@mixin body-sm-bold {
	@include body-sm(var(--font-weight-bold));
}

@mixin body-sm-link {
	@include body-sm;
	@include link-base;
}

@mixin body-xs($font-weight: var(--font-weight-regular)) {
	@include font-base;
	font-size: var(--font-size-xs);
	font-weight: $font-weight;
	line-height: var(--line-height-xs);
}

@mixin body-xs-reg {
	@include body-xs;
}

@mixin body-xs-md {
	@include body-xs(var(--font-weight-medium));
}

@mixin body-xs-semi-bold {
	@include body-xs(var(--font-weight-semi-bold));
}

@mixin body-xs-bold {
	@include body-xs(var(--font-weight-bold));
}

@mixin body-xs-link {
	@include body-xs;
	@include link-base;
}

@mixin code-sm($font-weight: var(--font-weight-regular)) {
	@include code-base;
	font-size: var(--font-size-sm);
	font-weight: $font-weight;
	line-height: var(--line-height-sm);
	letter-spacing: var(--letter-spacing--1percent);
}

@mixin code-sm-reg {
	@include code-sm;
}

@mixin code-sm-semi-bold {
	@include code-sm(var(--font-weight-semi-bold));
}

@mixin code-xs($font-weight: var(--font-weight-regular)) {
	@include code-base;
	font-size: var(--font-size-xs);
	font-weight: $font-weight;
	line-height: var(--line-height-xs);
	letter-spacing: var(--letter-spacing--1percent);
}

@mixin code-xs-reg {
	@include code-xs;
}

@mixin code-xs-semi-bold {
	@include code-xs(var(--font-weight-semi-bold));
}
