@use './variables';
@use './reset';
@use './colors';
@use './typography';
@use './grid';
@use './utilities';
@use './spacing';
@use './root';

@use './shared/dropdown';
@use './shared/input';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
