.root {
	display: flex;
	width: 100%;

	&[data-orientation='vertical'] {
		flex-direction: row;
		gap: var(--spacing-lg);
	}

	&[data-orientation='horizontal'] {
		flex-direction: column;
		gap: 0;
	}
}
