@use '../../styles/root_updated';
@use '../../styles/shared/button' as button;

$height-large: 40px;
$height-medium: 36px;
$height-small: 28px;
$border-radius: 4px;
$focus-ring-width: 2px;

@mixin focus-ring($outer-color) {
	outline: $focus-ring-width solid $outer-color;
}

.root {
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: var(--3xs);
	margin: 0;
	border: 1px solid transparent;
	border-radius: $border-radius;
	background: transparent;
	font-family: var(--font-family-base);
	font-weight: var(--font-weight-medium);
	text-align: center;
	cursor: pointer;
	transition:
		background-color button.$transition-duration-default,
		border-color button.$transition-duration-quick,
		color button.$transition-duration-default,
		outline-color button.$transition-duration-quick;

	&:disabled:not([data-loading]) {
		cursor: not-allowed;
	}

	&[data-loading] {
		cursor: default;
		pointer-events: none;
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline-style: solid;
	}

	&[data-size='large'] {
		padding: var(--3xs) var(--sm);
		min-height: $height-large;
		font-size: var(--font-size-md);
		line-height: var(--line-height-md);
	}

	&[data-size='medium'] {
		padding: var(--3xs) var(--sm);
		min-height: $height-medium;
		font-size: var(--font-size-sm);
		line-height: var(--line-height-sm);
	}

	&[data-size='small'] {
		padding: var(--3xs) var(--sm);
		min-height: $height-small;
		font-size: var(--font-size-xs);
		line-height: var(--line-height-xs);
	}

	&[data-size='tiny'] {
		min-height: var(--icon-width-tiny);
		padding: 0 var(--3xs);
		font-size: var(--font-size-xs);
		line-height: var(--line-height-xs);
	}

	&[data-icon-only][data-size='large'] {
		padding: var(--3xs);
		min-width: $height-large;
	}

	&[data-icon-only][data-size='medium'] {
		padding: var(--3xs);
		min-width: $height-medium;
	}

	&[data-icon-only][data-size='small'] {
		padding: var(--3xs);
		min-width: $height-small;
	}

	&[data-icon-only][data-size='tiny'] {
		padding: 0;
		min-width: var(--icon-width-tiny);
	}
}

.root[data-color='default'][data-variant='primary'] {
	background-color: var(--background-background-primary);
	color: var(--font-font-on-action);
	border-color: transparent;

	&:hover:not(:disabled):not(:active):not([data-selected='true']) {
		background-color: var(--background-background-primary-hover);
	}

	&:active:not(:disabled) {
		background-color: var(--background-background-primary-selected);
	}

	&:focus-visible {
		@include focus-ring(var(--border-border-action-primary));

		background-color: var(--background-background-primary-hover);
		border-color: var(--border-border-inverse);
	}

	&[data-selected='true'] {
		background-color: var(--background-background-primary-selected);
	}

	&:disabled:not([data-loading]) {
		background-color: var(--background-background-disable);
		color: var(--font-font-on-action);
	}
}

.root[data-color='default'][data-variant='secondary'] {
	background-color: var(--background-background-action-secondary);
	color: var(--font-font-main);
	border-color: var(--border-border);

	&:hover:not(:disabled):not(:active):not([data-selected='true']) {
		background-color: var(--background-background-secondary-hover);
		color: var(--font-font-action-secondary);
		border-color: var(--border-border-secondary-hover);
	}

	&:active:not(:disabled) {
		background-color: var(--background-background-action-secondary-hover);
		color: var(--font-font-action-secondary);
		border-color: var(--border-border-secondary-hover);
	}

	&:focus-visible {
		@include focus-ring(var(--border-border-action-primary-hover));

		background-color: var(--background-background-secondary-hover);
		border-color: var(--border-border-inverse);
		color: var(--font-font-action-secondary);
	}

	&[data-selected='true'] {
		background-color: var(--background-background-action-secondary-hover);
		color: var(--font-font-action-secondary);
		border-color: var(--border-border-secondary-hover);
	}

	&:disabled:not([data-loading]) {
		background-color: var(--background-background-action-secondary);
		color: var(--font-font-disabled);
		border-color: var(--border-border-disabled);
	}
}

.root[data-color='default'][data-variant='tertiary'] {
	background-color: transparent;
	color: var(--font-font-main);
	border-color: transparent;

	&:hover:not(:disabled):not(:active):not([data-selected='true']) {
		background-color: var(--background-background-secondary-hover);
		color: var(--font-font-action-secondary);
	}

	&:active:not(:disabled) {
		background-color: var(--background-background-action-secondary-hover);
		color: var(--font-font-action-secondary);
	}

	&:focus-visible {
		@include focus-ring(var(--border-border-action-primary-hover));

		background-color: var(--background-background-secondary-hover);
		border-color: var(--border-border-inverse);
		color: var(--font-font-action-secondary);
	}

	&[data-selected='true'] {
		background-color: var(--background-background-action-secondary-hover);
		color: var(--font-font-action-secondary);
	}

	&:disabled:not([data-loading]) {
		background-color: transparent;
		color: var(--font-font-disabled);
	}
}

.root[data-color='error'][data-variant='primary'] {
	background-color: var(--background-background-error);
	color: var(--font-font-on-action);
	border-color: transparent;

	&:hover:not(:disabled):not(:active):not([data-selected='true']) {
		background-color: var(--background-background-error-hover);
	}

	&:active:not(:disabled) {
		background-color: var(--background-background-error-selected);
	}

	&:focus-visible {
		@include focus-ring(var(--border-border-error));

		background-color: var(--background-background-error-hover);
		border-color: var(--border-border-inverse);
	}

	&[data-selected='true'] {
		background-color: var(--background-background-error-selected);
	}

	&:disabled:not([data-loading]) {
		background-color: var(--background-background-disable);
		color: var(--font-font-on-action);
	}
}

.root[data-color='error'][data-variant='secondary'] {
	background-color: var(--background-background-action-secondary);
	color: var(--font-font-error);
	border-color: var(--border-border-error);

	&:hover:not(:disabled):not(:active):not([data-selected='true']) {
		background-color: var(--background-background-error-secondary-hover);
		border-color: var(--border-border-error-hover);
	}

	&:active:not(:disabled) {
		background-color: var(--background-background-error-secondary-selected);
		border-color: var(--border-border-error-hover);
	}

	&:focus-visible {
		@include focus-ring(var(--border-border-error));

		background-color: var(--background-background-error-secondary-hover);
		border-color: var(--border-border-inverse);
	}

	&[data-selected='true'] {
		background-color: var(--background-background-error-secondary-selected);
		border-color: var(--border-border-error-hover);
	}

	&:disabled:not([data-loading]) {
		background-color: var(--background-background-action-secondary);
		color: var(--font-font-disabled);
		border-color: var(--border-border-disabled);
	}
}

.root[data-color='error'][data-variant='tertiary'] {
	background-color: transparent;
	color: var(--font-font-error);
	border-color: transparent;

	&:hover:not(:disabled):not(:active):not([data-selected='true']) {
		background-color: var(--background-background-error-secondary-hover);
	}

	&:active:not(:disabled) {
		background-color: var(--background-background-error-secondary-selected);
	}

	&:focus-visible {
		@include focus-ring(var(--border-border-error));

		background-color: var(--background-background-error-secondary-hover);
		border-color: var(--border-border-inverse);
	}

	&[data-selected='true'] {
		background-color: var(--background-background-error-secondary-selected);
	}

	&:disabled:not([data-loading]) {
		background-color: transparent;
		color: var(--font-font-disabled);
	}
}

.root[data-color='light'][data-variant='primary'] {
	background-color: var(--background-background-ondark-primary);
	color: var(--font-font-on-action);
	border-color: transparent;

	&:hover:not(:disabled):not(:active):not([data-selected='true']) {
		background-color: var(--background-background-ondark-primary-hover);
	}

	&:active:not(:disabled) {
		background-color: var(--background-background-ondark-primary-selected);
	}

	&:focus-visible {
		@include focus-ring(var(--outline-outline-inverse));

		background-color: var(--background-background-ondark-primary-hover);
		border-color: var(--border-border-action-secondary);
	}

	&[data-selected='true'] {
		background-color: var(--background-background-ondark-primary-selected);
	}

	&:disabled:not([data-loading]) {
		background-color: var(--background-background-ondark-disabled);
		color: var(--font-font-disabled);
	}
}

.root[data-color='light'][data-variant='secondary'] {
	background-color: transparent;
	color: var(--font-font-on-action);
	border-color: var(--border-border-ondark-secondary);

	&:hover:not(:disabled):not(:active):not([data-selected='true']) {
		background-color: var(--background-background-ondark-secondary-hover);
		color: var(--font-font-on-action);
	}

	&:active:not(:disabled) {
		background-color: var(--background-background-ondark-secondary-selected);
		color: var(--font-font-on-action);
	}

	&:focus-visible {
		@include focus-ring(var(--outline-outline-inverse));

		background-color: var(--background-background-ondark-secondary-hover);
		border-color: var(--border-border-action-secondary);
		color: var(--font-font-on-action);
	}

	&[data-selected='true'] {
		background-color: var(--background-background-ondark-secondary-selected);
	}

	&:disabled:not([data-loading]) {
		background-color: transparent;
		color: var(--font-font-ondark-disabled);
		border-color: var(--background-background-ondark-disabled);
	}
}

.root[data-color='light'][data-variant='tertiary'] {
	background-color: transparent;
	color: var(--font-font-on-action);
	border-color: transparent;

	&:hover:not(:disabled):not(:active):not([data-selected='true']) {
		background-color: var(--background-background-ondark-secondary-hover);
		color: var(--font-font-on-action);
	}

	&:active:not(:disabled) {
		background-color: var(--background-background-ondark-secondary-selected);
		color: var(--font-font-on-action);
	}

	&:focus-visible {
		@include focus-ring(var(--outline-outline-inverse));

		background-color: var(--background-background-ondark-secondary-hover);
		border-color: var(--border-border-action-secondary);
		color: var(--font-font-on-action);
	}

	&[data-selected='true'] {
		background-color: var(--background-background-ondark-secondary-selected);
	}

	&:disabled:not([data-loading]) {
		background-color: transparent;
		color: var(--font-font-ondark-disabled);
	}
}
