.tooltip {
	color: var(--font-on-action);
	background-color: var(--background-brand);
	padding: var(--xs) var(--sm);
	border-radius: var(--3xs);
	max-width: 384px;
	overflow-wrap: break-word;
	z-index: 9999;
}

.arrow {
	fill: var(--color-dap-gray-700);
}
