.tooltip {
	color: var(--color-font-on-action);
	background-color: var(--color-background-brand);
	padding: var(--spacing-xs) var(--spacing-sm);
	border-radius: var(--exo-spacing-2x-small);
	max-width: 384px;
	overflow-wrap: break-word;
	z-index: 9999;
}

.arrow {
	fill: var(--neutral-1);
}
