@use '../../../../styles/typography';

$border-radius: 8px;

.bulkActionsContainer {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--white);
	border-radius: $border-radius;
	box-shadow: 0 4px 12px #0445cc66;
	z-index: 1000;
	display: flex;
	align-items: center;
	overflow: hidden;
	animation-duration: 0.3s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;

	&.entering {
		animation-name: slideUpFadeIn;
	}

	&.exiting {
		animation-name: slideDownFadeOut;
	}
}

.bulkActionsContent {
	display: flex;
	align-items: center;
}

.selectedCountContainer {
	background-color: var(--action-cta1);
	display: flex;
	align-items: center;
	padding: 6px 22px;
}

.selectedCountBadge {
	color: var(--white);
	margin: 0;
}

.bulkActionsInfo {
	color: var(--neutral-2);
	text-wrap: nowrap;
	padding-left: 8px;
	padding-right: 56px;
}

.actionButton {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-3xs);
	width: 68px;
	height: 48px;
	border-radius: 0;
}

.bulkActionsActions {
	display: flex;
	align-items: center;

	> .actionButton {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 1px;
			height: 100%;
			background-color: var(--neutral-6);
		}

		&:first-child::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 1px;
			height: 100%;
			background-color: var(--neutral-6);
		}
	}
}

.targetButton.escapeButtonContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--neutral-2);
	padding-left: 4px;
	margin-right: 2px;
	background: none;
	border-radius: 0 $border-radius $border-radius 0;

	&:hover {
		color: var(--neutral-4);
		background: inherit;
	}
}

@keyframes slideUpFadeIn {
	0% {
		opacity: 0;
		transform: translate(-50%, 100%);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}

@keyframes slideDownFadeOut {
	0% {
		opacity: 1;
		transform: translate(-50%, 0);
	}
	100% {
		opacity: 0;
		transform: translate(-50%, 100%);
	}
}
