// Local size variables
$avatar-size-xsm: 18px;
$avatar-size-sm: 24px;
$avatar-size-regular: 32px;
$avatar-size-md: 48px;
$avatar-size-lg: 80px;
$avatar-size-xl: 144px;

// Mixin for avatar sizes to avoid code duplication
@mixin avatar-size($size, $font-size) {
	width: $size;
	height: $size;
	font-size: $font-size;
}

@mixin avatar-sizes {
	&.xsm {
		@include avatar-size($avatar-size-xsm, 8px);
	}

	&.sm {
		@include avatar-size($avatar-size-sm, 10px);
	}

	&.regular {
		@include avatar-size($avatar-size-regular, var(--font-size-xs));
	}

	&.md {
		@include avatar-size($avatar-size-md, var(--font-size-md));
	}

	&.lg {
		@include avatar-size($avatar-size-lg, var(--font-size-2xl));
	}

	&.xl {
		@include avatar-size($avatar-size-xl, var(--font-size-3xl));
	}
}
