@import './mixins';

.avatar {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	background-color: var(--color-secondary-400);
	color: var(--color-secondary-white);
	flex-shrink: 0;
	user-select: none;

	&.circle {
		border-radius: 50%;
	}

	&.rounded {
		&.xsm,
		&.sm {
			border-radius: 4px;
		}
		&.regular,
		&.md,
		&.lg,
		&.xl {
			border-radius: 8px;
		}
	}

	@include avatar-sizes;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}

	.fallback {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-weight: var(--font-weight-medium);
		text-transform: uppercase;
	}
}
