@use '../../styles/typography';

@mixin breadcrumb-item {
	@include typography.body-sm-reg;
	color: var(--background-action);
	text-decoration: none;
	outline: none;
	padding: var(--3xs) var(--sm);
	gap: var(--3xs);
	border-radius: var(--3xs);
	display: flex;
	align-items: center;

	&:hover {
		color: var(--background-primary);
		background: var(--background-action-tertiary-hover);
	}

	&:active {
		color: var(--background-primary-hover);
		background: var(--background-action-secondary-hover);
	}

	&:focus {
		outline: 2px solid var(--background-primary);
		outline-offset: 0;
	}

	&:disabled {
		color: var(--background-disable);
	}
}

.breadcrumb {
	display: flex;
	align-items: center;
}

.list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.breadcrumbItem {
	display: flex;
	align-items: center;

	&:not(:last-child)::after {
		content: '/';
		@include typography.body-sm-reg;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--font-disabled);
		width: var(--icon-width-small);
		height: var(--icon-width-small);
	}

	&:last-child {
		.link,
		.trigger {
			@include typography.body-sm-md;
		}
	}
}

.link {
	@include breadcrumb-item;
}

.active {
	@include typography.body-sm-md;
}

.trigger {
	@include breadcrumb-item;
	background: none;
	border: none;
	cursor: pointer;
}

.icon {
	margin-right: var(--3xs);
	display: flex;
	align-items: center;
}

.dropdownIcon {
	margin-left: var(--3xs);
	display: flex;
	align-items: center;
}

.itemLabel {
	@include typography.ellipsis;
	color: var(--font-main);
}
