.container {
	width: 320px;
}

.helperText {
	font-size: 12px;
	margin-top: var(--spacing-xs);
	color: var(--color-font-secondary);
}

.infoContainer {
	font-size: 12px;
	margin-top: var(--spacing-xs);
	color: var(--color-font-secondary);
}

.buttonContainer {
	margin-bottom: var(--spacing-standard);
}
