.container {
	width: 320px;
}

.helperText {
	font-size: 12px;
	margin-top: var(--xs);
	color: var(--font-secondary);
}

.infoContainer {
	font-size: 12px;
	margin-top: var(--xs);
	color: var(--font-secondary);
}

.buttonContainer {
	margin-bottom: var(--standard);
}
