.container {
	display: flex;
	gap: var(--lg);
	align-items: flex-start;
}

.headerRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background: var(--color-dap-orange-200);
}

.statsBlock {
	display: flex;
	flex-direction: column;
	gap: var(--3xs);
}

.dataList {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: var(--3xs) var(--sm);
	width: 100%;
	border-top: 1px solid var(--border-contrast);
	padding-top: var(--3xs);
}

// Color utility classes
.textSecondary {
	color: var(--color-text-secondary);
}

.textSuccess {
	color: var(--color-text-success);
}

.footer {
	border-top: 1px solid var(--border-secondary);
}

.collapsibleButton {
	margin-right: var(--xs);
}

.collapseHeader {
	display: flex;
	align-items: center;
	background: var(--background-tertiary);
}

.collapseRoot {
	max-width: 400px;
}

.collapsibleContent {
	display: grid;
	grid-template-rows: 1fr;
	transition:
		grid-template-rows,
		padding 200ms ease-in-out;

	&[data-collapsed='true'] {
		grid-template-rows: 0fr;
		padding: 0 !important;
	}
}

.collapsibleContentInner {
	overflow: hidden;
}
