.row {
	display: grid;
	grid-template-columns: 280px 1fr;
	align-items: baseline;
	gap: var(--md);
}

.label {
	font-family: var(--font-family-code), serif;
	font-size: var(--body-font-size-xs);
	color: var(--font-secondary);
	white-space: nowrap;
}

.onDark {
	display: flex;
	flex-direction: column;
	gap: var(--sm);
	padding: var(--2xl);
	background-color: var(--color-dap-brand-500);
}

.onDarkLabel {
	color: var(--secondary-300);
}
