@use '../../../../styles/typography';
@use '../../styles/variables' as vars;

.stickyHeader {
	background-color: var(--background);
}

.virtualizedHeader {
	display: block;
}

.headerRow {
	.headerCell {
		border-bottom: 1px solid var(--color-dap-gray-400);
	}

	&.headerRowNoBorder {
		.headerCell {
			border-bottom: none;
		}
	}
}

.headerRowVirtualized {
	display: flex;
	width: 100%;
}

.reorderColumn {
	width: vars.$reorder-column-width;
}

.headerCell {
	@include typography.body-sm-md;
	color: var(--font-main);
	text-align: left;
	padding: 0 var(--standard);
	height: var(--ds-table-header-height);

	&.sortableHeader {
		cursor: pointer;
		user-select: none;
	}

	.pageButtonIconContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;

		&.pageButtonIcon {
			color: var(--color-dap-gray-500);
			transition: transform 0.2s ease-in-out;
		}
	}
}

.selectHeaderCell {
	padding: 0;
	justify-content: center;
}

.headerSortContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: vars.$header-sort-gap;
	height: 100%;
}
