@use '../../styles/typography';

@mixin status-filled($color, $background, $label-color: var(--font-on-action)) {
	color: $color;
	background: $background;

	.label {
		color: $label-color;
	}
}

@mixin status-ghost($color, $background) {
	&.ghost {
		color: $color;
		background: $background;

		.label {
			color: var(--font-main);
		}
	}
}

.container {
	display: flex;
	align-items: center;
	padding: var(--3xs) var(--standard) var(--3xs) var(--xs);
	width: max-content;
	color: var(--icon-inverse);
	gap: var(--3xs);
	border-radius: 100vmax;

	&.small {
		padding: var(--4xs) var(--xs) var(--4xs) var(--3xs);
		gap: var(--4xs);
	}
}

.active {
	@include status-filled(var(--font-on-action), var(--background-success-strong));
	@include status-ghost(var(--background-success-strong), var(--color-status-bg-success));
}

.running {
	@include status-filled(var(--font-on-action), var(--background-active-moderate));
	@include status-ghost(var(--icon-information-secondary), var(--status-bg-progress));
}

.pending {
	@include status-filled(var(--font-on-action), var(--color-dap-data-fuchsia));
	@include status-ghost(var(--color-dap-data-purple), var(--color-dap-data-light-purple));
}

.draft {
	@include status-filled(var(--font-on-action), var(--icon-information-main));
	@include status-ghost(var(--icon-action-secondary), var(--status-bg-neutral));
}

.inactive {
	@include status-filled(var(--icon-action-secondary), var(--background-disable), var(--font-on-disabled));
	@include status-ghost(var(--icon-action-secondary), var(--status-bg-inactive));
}

.warning {
	@include status-filled(var(--font-on-action), var(--background-warning-strong));
	@include status-ghost(var(--background-warning-strong), var(--status-bg-warning));
}

.failed {
	@include status-filled(var(--font-on-action), var(--background-error));
	@include status-ghost(var(--background-error-hover), var(--color-status-bg-failed));
}

.label::first-letter {
	text-transform: capitalize;
}
