.running {
	color: var(--primary-700-default);
}

.warning {
	color: var(--warning-400);
}

.failed {
	color: var(--negative-400-default);
}

.paused {
	color: var(--color-dap-purple-600);
}

.inactive {
	color: var(--color-font-disabled);
}
