@use '../../styles/typography';

.container {
	@include typography.p-special;
	@include typography.medium;
	display: inline-flex;
	align-items: center;
	gap: 4px;
	padding: 4px 8px;
	border-radius: 4px;
	width: max-content;
	text-transform: uppercase;
}

.dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid var(--color-dap-gray-050);
}

.label {
	@include typography.p-special;
}

.healthy {
	background: var(--color-dap-data-light-green);
	color: var(--color-dap-data-green);

	.dot {
		background: var(--color-dap-data-green);
	}
}

.neutral {
	background: var(--color-dap-blue-200);
	color: var(--color-dap-blue-600);

	.dot {
		background: var(--color-dap-blue-600);
	}
}

.error {
	background: var(--color-dap-red-100);
	color: var(--background-error);

	.dot {
		background: var(--background-error);
	}
}

.in-progress {
	background: var(--schema-light-blue);
	color: var(--color-dap-blue-800);

	.dot {
		background: var(--color-dap-blue-800);
	}
}

.pending {
	background: var(--background-pending);
	color: var(--color-dap-data-deep-fuchsia);

	.dot {
		background: var(--color-dap-data-deep-fuchsia);
	}
}

.alert {
	background: var(--schema-light-amber);
	color: var(--color-dap-orange-600);

	.dot {
		background: var(--color-dap-orange-600);
	}
}

.disabled {
	background: var(--color-dap-gray-200);
	color: var(--color-dap-gray-600);

	.dot {
		background: var(--color-dap-gray-600);
	}
}
