.avatarGroup {
	display: flex;
	align-items: center;

	.avatarItem {
		border: 2px solid var(--white, #ffffff);

		&:not(:first-child) {
			margin-left: -8px;
		}

		&.xsm:not(:first-child) {
			margin-left: -4px;
		}

		&.sm:not(:first-child) {
			margin-left: -6px;
		}
	}

	.moreAvatar {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--neutral-10, #f3f5fa);
		color: var(--action-cta1, #0064fa);
		border: 2px solid var(--white, #ffffff);
		margin-left: -8px;
		font-weight: var(--font-weight-medium, 500);
		z-index: 1;
		cursor: default;
		flex-shrink: 0;

		&.circle {
			border-radius: 50%;
		}

		&.rounded {
			&.xsm,
			&.sm {
				border-radius: 4px;
			}
			&.regular,
			&.md,
			&.lg,
			&.xl {
				border-radius: 8px;
			}
		}

		// Sizes
		&.xsm {
			width: 18px;
			height: 18px;
			font-size: 8px;
			margin-left: -4px;
		}

		&.sm {
			width: 24px;
			height: 24px;
			font-size: 10px;
			margin-left: -6px;
		}

		&.regular {
			width: 32px;
			height: 32px;
			font-size: 12px;
		}

		&.md {
			width: 48px;
			height: 48px;
			font-size: 16px;
		}

		&.lg {
			width: 80px;
			height: 80px;
			font-size: 24px;
		}

		&.xl {
			width: 144px;
			height: 144px;
			font-size: 32px;
		}
	}

	.tooltipList {
		display: flex;
		flex-direction: column;
		gap: 4px;
		padding: 4px 0;
	}
}
