.avatarGroup {
	display: flex;
	align-items: center;

	.avatarItem {
		border: 2px solid var(--white);

		&:not(:first-child) {
			margin-left: -8px;
		}

		&.xsm:not(:first-child) {
			margin-left: -4px;
		}

		&.sm:not(:first-child) {
			margin-left: -6px;
		}
	}

	.moreAvatar {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--neutral-10);
		color: var(--action-cta1);
		border: 2px solid var(--white);
		margin-left: -8px;
		font-weight: var(--font-weight-medium);
		z-index: 1;
		cursor: default;
		flex-shrink: 0;

		&.circle {
			border-radius: 50%;
		}

		&.rounded {
			&.xsm,
			&.sm {
				border-radius: 4px;
			}
			&.regular,
			&.md,
			&.lg,
			&.xl {
				border-radius: 8px;
			}
		}

		// Sizes
		&.xsm {
			width: 18px;
			height: 18px;
			font-size: 8px;
			margin-left: -4px;
		}

		&.sm {
			width: 24px;
			height: 24px;
			font-size: 10px;
			margin-left: -6px;
		}

		&.regular {
			width: 32px;
			height: 32px;
			font-size: var(--font-size-xs);
		}

		&.md {
			width: 48px;
			height: 48px;
			font-size: var(--font-size-md);
		}

		&.lg {
			width: 80px;
			height: 80px;
			font-size: var(--font-size-2xl);
		}

		&.xl {
			width: 144px;
			height: 144px;
			font-size: var(--font-size-3xl);
		}
	}

	.tooltipList {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-3xs);
		padding: 4px 0;
	}
}
