@import '../ds-avatar/mixins';

.avatarGroup {
	display: flex;
	align-items: center;

	.avatarItem {
		border: 2px solid var(--color-secondary-white);

		&:not(:first-child) {
			margin-left: -8px;
		}

		&.xsm:not(:first-child) {
			margin-left: -4px;
		}

		&.sm:not(:first-child) {
			margin-left: -6px;
		}
	}

	.moreAvatar {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--color-background-secondary);
		color: var(--color-font-action);
		border: 2px solid var(--color-secondary-white);
		margin-left: -8px;
		font-weight: var(--font-weight-medium);
		z-index: 1;
		cursor: default;
		flex-shrink: 0;

		&.circle {
			border-radius: 50%;
		}

		&.rounded {
			&.xsm,
			&.sm {
				border-radius: 4px;
			}
			&.regular,
			&.md,
			&.lg,
			&.xl {
				border-radius: 8px;
			}
		}

		@include avatar-sizes;

		&.xsm {
			margin-left: -4px;
		}

		&.sm {
			margin-left: -6px;
		}
	}

	.tooltipList {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-3xs);
		padding: 4px 0;
	}
}
