.container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
	padding: var(--spacing-xs) var(--spacing-standard);
	background: var(--color-background-selected-weak);
	border: 1px solid var(--color-outline-weak);
	border-radius: var(--spacing-3xs);
	max-height: 88px; // hardcoded value required in the design
	overflow: hidden;

	&.expanded {
		max-height: none;
	}
}

.row1 {
	display: flex;
	align-items: center;
	width: 100%;
	gap: var(--spacing-xs);
	flex-shrink: 0;
}

.row2 {
	display: flex;
	align-items: center;
	width: 100%;
	gap: var(--spacing-xs);
	flex-wrap: wrap;
}

.label {
	color: var(--color-font-secondary);
	white-space: nowrap;
	flex-shrink: 0;
}

.expandTag {
	cursor: pointer;
	flex-shrink: 0;
}

.itemCheckbox {
	display: flex;
	align-items: center;
}

.clearContent {
	background: transparent !important;
}

.clearButton {
	margin-left: auto;
	padding: 0;
	flex-shrink: 0;
}

// Hidden container for measuring element widths
// Must render all elements to get accurate measurements
.measurementContainer {
	pointer-events: none;
	display: flex;
	align-items: center;
	gap: var(--spacing-xs);

	// Ensure it doesn't affect layout
	height: 0;
	overflow: hidden;
	position: absolute;
	visibility: hidden;
}
