@use '../../styles/typography';

.trigger {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--xs);
	padding: var(--xs) var(--sm);
	border: 1px solid var(--color-dap-gray-500);
	border-radius: 4px;
	background: var(--color-dap-gray-050);
	cursor: pointer;
	transition: border-color 0.2s;

	&.fixedWidth {
		width: 250px;
	}

	&:hover {
		border-color: var(--color-dap-blue-600);
	}

	span {
		font-size: 14px;
		color: var(--color-dap-gray-700);
	}
}

.danger {
	color: var(--background-error-hover);

	&:hover {
		background-color: var(--background-error-secondary-hover);
	}
}

.item-content {
	display: flex;
	flex-direction: column;
	gap: 2px;
	flex-grow: 1;
}

.item-label {
	@include typography.ellipsis;
	color: var(--font-main);
}

.item-description {
	@include typography.ellipsis;
	color: var(--font-secondary);
}

.radio-group {
	gap: 0;
}

.radio-selected {
	background-color: var(--background-secondary-hover);
}

.trigger-item-expand {
	margin-left: auto;
}
