$time-item-height: 32px;
$time-item-width: 48px;

.container {
	display: flex;
	width: $time-item-width;
	height: $time-item-height;
	flex-shrink: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background: transparent;
	color: var(--font-main);

	&.selected {
		background: var(--background-primary);
		color: var(--font-on-action);
	}

	&.disabled {
		color: var(--color-font-disabled);
		pointer-events: none;
	}

	&:not(.selected, .disabled) {
		&:hover {
			border: 1px solid var(--border);
			background: var(--background-action-hover-weak);
		}

		&:focus-visible {
			border: 2px solid var(--border-action-secondary);
			background: var(--background-action-hover-weak);
		}
	}
}
