.approveStep {
	background: var(--color-background-success) !important;
}

.approveButton {
	background: var(--background-success-strong) !important;
	color: var(--secondary-050) !important;
}

.approveTitle {
	color: var(--background-success-strong) !important;
}

.approveIcon {
	background: var(--background-success-strong) !important;
}
