@use '@design-system/ui/src/styles/typography';

@mixin list-item {
	cursor: pointer;
	user-select: none;
	color: var(--neutral-2);
	padding: 0 20px;
}

@mixin list-item-wrapper {
	display: flex;
	align-items: center;
	position: relative;
	flex: 1;
	height: 48px;
	margin-bottom: 8px;
}

@mixin list-item-wrapper-hover {
	background: var(--action-hover-light);
	border-radius: 4px;
}

@mixin list-item-text {
	@include typography.p-base;
	@include ellipsis;
	padding-left: 8px;
	flex: 1;
}

@mixin list-item-process {
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 7px;
}

@mixin list-item-selected {
	color: var(--action-cta1);
	background: var(--action-active-light);
	border-radius: 4px;
}

@mixin list-item-selection {
	position: absolute;
	right: 0;
	width: 3px;
	height: 24px;
	background: var(--action-cta1);
}

@mixin list-scroll {
	position: relative;
	overflow: auto;
	z-index: 2;

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		background: var(--neutral-8);
	}

	&::-webkit-scrollbar-thumb {
		background: var(--neutral-6);
		border-radius: 3px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: var(--neutral-4);
	}
}
