@use '../../styles/typography';

.radioGroupRoot {
	display: flex;
	flex-direction: column;
	gap: var(--standard);
}

.radioItemContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: var(--3xs);
	cursor: pointer;
	border-radius: var(--4xs);

	&:has(.labelInfo) {
		align-items: flex-start;

		.radioLabel {
			padding-bottom: var(--4xs);
			padding-right: var(--4xs);
		}
	}

	&:has([data-disabled]) {
		cursor: not-allowed;

		.radioLabel {
			color: var(--font-disabled);
		}

		.labelInfo {
			color: var(--font-disabled);
		}
	}

	&:not(:has([data-disabled])):hover {
		background-color: var(--background-secondary-hover);
	}

	&:has([data-focus-visible]) {
		position: relative;
		background-color: var(--background-secondary-hover);

		&::after {
			content: '';
			position: absolute;
			inset: calc(-1px - var(--4xs));
			border: var(--4xs) solid var(--border-action-primary-hover);
			border-radius: var(--3xs);
			pointer-events: none;
		}
	}
}

.radioItem {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--md);
	height: var(--md);
	flex-shrink: 0;

	.radioItemWrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		height: var(--standard);
		width: var(--standard);
		border: 1.5px solid var(--border-contrast);
		border-radius: 50%;
		background: var(--background);
		transition: border-color 0.2s;
	}

	&[data-state='checked'],
	[data-state='checked'] > & {
		.radioItemWrapper {
			border-color: var(--border-action-primary);
		}
	}

	&[data-state='checked'][data-disabled],
	[data-state='checked'][data-disabled] > & {
		.radioItemWrapper {
			border-color: var(--border-disabled);
		}

		.radioIndicator {
			background: var(--border-disabled);
		}
	}

	&[data-disabled],
	[data-disabled] > & {
		pointer-events: none;

		.radioItemWrapper {
			border-color: var(--border-disabled);
		}
	}
}

.radioIndicator {
	width: var(--xs);
	height: var(--xs);
	background: var(--background-primary);
	border-radius: 50%;

	&[data-part='indicator'] {
		opacity: 0;
		transform: scale(0);
		transition:
			opacity 0.15s ease-in-out,
			transform 0.15s ease-in-out;

		[data-state='checked'] & {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.radioLabel {
	@include typography.body-sm-md;
	color: var(--font-main);
}

.labelInfo {
	@include typography.body-xs-reg;
	color: var(--font-secondary);
	flex-basis: 100%;
	padding-left: calc(var(--md) + var(--xs));
	padding-right: var(--4xs);
}
