name: PR

# WARNING:
#   Using `pull_request_target` here because we want to be able to add labels to PRs from forks.
#   `pull_request_target` can be UNSAFE because it runs in the TARGET repo context (not fork context).
#
#   DO NOT CHECK OUT THE REPO IN THIS WORKFLOW
#
#   See: https://securitylab.github.com/resources/github-actions-preventing-pwn-requests/
on: ['pull_request_target']

permissions: {}

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} - Labeler @ ${{ github.event.pull_request.number }}'
  cancel-in-progress: true

jobs:
  labeler:
    name: Labeler
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    # Skip release PRs
    if: |
      ! (github.event.pull_request.title == 'chore(release): publish' && github.event.pull_request.user.login == 'github-actions[bot]')

    steps:
      - name: Label PR
        uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
        with:
          configuration-path: .github/labeler-config.yml
          sync-labels: true
