name: PR
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']

permissions: {}

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} - Name Linter @ ${{ github.event.pull_request.number }}'
  cancel-in-progress: true

jobs:
  name-linter:
    name: Name Linter
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: read

    # Skip release PRs
    if: |
      ! (github.event.pull_request.title == 'chore(release): publish' && github.event.pull_request.user.login == 'github-actions[bot]')

    steps:
      - name: Checkout source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm i

      - name: Run PR name linter
        env:
          TITLE: ${{ github.event.pull_request.title }}
        run: echo "$TITLE" | npx commitlint
